.Footer {
    background-color: rgba(0, 0, 0, 0.801);
    margin: 2%;
    margin-left: 6%;
    margin-right: 6%;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
}

.FooterSections {
    color: white;
    flex-basis: 35%;
    text-decoration: none;
    font-size: 1.2vw;
    padding: 2%;
    
}