$siteColor: #f5bd07;
$color-black: black;
$color-white: white;
$font-small: 1.2vw;
$font-medium: 1.3vw;
$font-large: 1.5vw;
$font-very-large: 2vw;
$hundred-percent: 100%;
$siteMargin: 6%;
$siteFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
